@use '../../App.scss' as *;
.info{
   @include tablet{
      flex-direction: column;
   }
   .infos{
      @include tablet{
         width: 100%;
         margin-bottom: 50px;
      }
      h1{
         font-size: 26px;
         margin-bottom: 20px;
      }
      ul{
         display: flex;
         flex-wrap: wrap;
         li{
            font-size: 15px;
            font-weight: 600;
            margin-bottom: 20px;
            width: 50%;
            span{
               opacity: .8;
            }
         }
      }
   }
   .edus{
      @include tablet{
         width: 100%;
      }
      font-size: 15px;
      font-weight: 600;
      h1{
         font-size: 26px;
         margin-bottom: 20px;
      }
      &-list__item{
         padding: 0 20px 0 60px;
         position: relative;
         margin-bottom: 40px;
         .icon{
            @include flex(center,center);
            position: absolute;
            top: 0;
            left: 0;
            color: #fff;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: var(--main-color);
         }
         .time{
            opacity: .8;
         }
         h3{
            font-size: 15px;
         }
      }
   }
}

.skill{
   margin-top: 160px;
   margin-bottom: 60px;
   .skill-title{
      @include flex(center,center);
      h1{
         
         margin-bottom: 40px;
        
      }
   }
   .skill-list{
      @include flex(center, flex-start);
      flex-wrap: wrap;
      gap: 2.5rem 0;
      .skill-item{
         @include flex(center, center);
         flex-direction: column;
         width: 25%;
         @include mobile{
            width: 50%;
         }
         &__bg{
            @include flex(center, center);
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background-color: var(--toggle-color);
            transition: all .3s ease;
            &-img{
               width: 60%;
               height: 60%;
               background-position: 50%;
               background-repeat: no-repeat;
               background-size: cover;
            }
            &:hover{
               transform: scale(1.05);
            }
         }
         &__title{
            text-transform: uppercase;
            font-size: 14px;
            margin: 10px 0;
         }
      }
   }
}